<menu></menu>
<div id="top">
    <div class="topcoat-navigation-bar ng-scope" ng-style="main.styleBgColor">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="icon" href="" ng-click="main.menuVisible = ! main.menuVisible">
                <span class="icon-menu"></span>
                <span ng-show="main.badges>0" class="badges">{{ main.badges }}</span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Visualização Geral</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <a class="icon" href="" ng-click="go('/search')">
                <span class="icon-search"></span>
            </a>
        </div>
    </div>
    <div class="spacer-blank"></div>
    <div class="topcoat-navigation-bar navigation-logo" ng-style="main.styleBgColor">
        <div class="topcoat-navigation-bar__item full center">
            <img width="100" src="" alt="" mm-load-img="main.logo"/>
        </div>
    </div>
</div>
<div class="scroller" height-dashboard="hasPub">
    <div id="slider" class="swipe">
        <div class='swipe-wrap'>

            <div ng-repeat="row in events.featured">
                <img src="img/slideshow_default.png" mm-load-img="row.slideshow_img"/>
                <a href="" ng-click="go('event/{{ row.id }}')">
                    <p class="title">{{ row._nome }}</p>
                    <p class="dsc">{{ row.data_inicio_formated }}</p>
                    <span class="icon icon-arrow_small_right"></span>
                </a>
            </div>

            <div ng-repeat="row in events.featured" ng-if="events.featured===2">
                <img src="img/slideshow_default.png" mm-load-img="row.slideshow_img"/>
                <a href="" ng-click="go('event/{{ row.id }}')">
                    <p class="title">{{ row._nome }}</p>
                    <p class="dsc">{{ row.data_inicio_formated }}</p>
                    <span class="icon icon-arrow_small_right"></span>
                </a>
            </div>


        </div>
    </div>
    <div class="swipe-indicator">
        <span id="slider-indicator" ng-style="main.styleBgColor"></span>
    </div>
    <div class="topcoat-list list">
        <div ng-repeat="row in events.dashboard">
            <h3 class="topcoat-list__header" ng-style="main.styleBgColor">{{ row.day }}</h3>
            <ul class="topcoat-list__container">
                <li class="topcoat-list__item" ng-repeat="item in row.items">
                    <a href="" ng-click="go('event/{{ item.id }}')">
                        <img src="img/listagem_default.png" alt="" mm-load-img="item.img"/>

                        <p class="title">{{ item._nome }}</p>

                        <p class="data">{{ item.data_inicio_formated }}</p>
                        <span class="icon icon-arrow_small_right" ng-style="main.styleColor"></span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<pub></pub>