<div class="debug" ng-init="showDetails = true" ng-click="showDetails = ! showDetails" ng-show="showDetails">
    Width x Height: {{deviceWidth}}x{{deviceHeight}} Ratio: {{devicePixelRatio}}<br/>
    Model: {{deviceModel}} <br/>
    Platform: {{devicePlatform}}<br/>
    UUID: {{deviceUuid}} <br/>
    Version: {{deviceVersion}}<br/>
</div>