<div class="detalhe">

    <div class="topcoat-navigation-bar ng-scope fixedTop" ng-style="main.styleBgColor">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="seta-back icon" href="" ng-click="back()">
                <span class="icon-arrow_left"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">{{ event.detail.nome }}</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <div class="setas-right hide">
                <a href="" ng-click="goTop()" class="icon iconTop">
                    <span class="icon-arrow_top"></span>
                </a>
                <a href="" ng-click="goBot()" class="icon iconDown">
                    <span class="icon-arrow_down"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="scroller" height-geral="hasPub">
        <div class="spacer-blank"></div>
        <div class="topcoat-navigation-bar datahora" ng-style="main.styleBgColor">
            <div class="topcoat-navigation-bar__item left">
                {{ event.detail.data_inicio_formated }}
            </div>
        </div>

        <div ng-class="(event.detail.layout==0) ? 'img-detalhe' : 'hide'">
            <img width="100%" src="img/slideshow_default.png" alt="" mm-load-img="event.detail.img"/>
        </div>
        <div ng-class="(event.detail.layout==1) ? 'detalhe-texto2' : 'hide'">
            <p compile="event.detail.texto2"></p>
        </div>
        <ul class="opcoes">
            <li ng-click="goMap(event.detail.id)" ng-style="main.styleBgColor" class="equalw">
                <span class="icon-marker"></span>

                <p class="imagetext">VER NO MAPA</p>
            </li>
            <li ng-click="AddEvent($event)" ng-style="main.styleBgColor" class="equalw">
                <div id="loader-addevent" class="loader loader-addevent"></div>
                <span class="icon-calendar"></span>
                <p class="imagetext">ADICIONAR EVENTO</p>
            </li>
            <li ng-click="mailto(event.detail.pedir_info)" ng-style="main.styleBgColor" class="equalw">
                <span class="icon-email"></span>
                <p class="imagetext">EMAIL</p>
            </li>
        </ul>
        <p ng-class="(event.detail.layout==0) ? 'detalhe-title' : 'hide'">{{ event.detail.nome }}</p>
        
        <div ng-class="(event.detail.layout==0) ? 'detalhe-texto2' : 'hide'">
            <p compile="event.detail.texto"></p>
        </div>
        
        <div ng-class="(event.detail.votar==1) ? 'detalhe-texto' : 'hide'">
            <p class="title-evento-extras">Vote se gosta do evento</p>
            <button id="btn-detalhe-votar" ng-click="vote(event.detail.id)" ng-class="(event.detail.voto==1) ? 'checked_vote' : 'unchecked_vote'"></button>
        </div>
        <div ng-class="(event.detail.classificar==1) ? 'detalhe-texto' : 'hide'">
            <p class="title-evento-extras">Classifique este evento </p>
            <img ng-attr-src="{{ event.detail.classificacao>=1 ? 'img/star_selected.png' : 'img/star.png' }}" id="star1" ng-click="star1(event.detail.id)" class="star">
                <img ng-attr-src="{{ event.detail.classificacao>=2 ? 'img/star_selected.png' : 'img/star.png' }}" id="star2" ng-click="star2(event.detail.id)" class="star">
                    <img ng-attr-src="{{ event.detail.classificacao>=3 ? 'img/star_selected.png' : 'img/star.png' }}" id="star3" ng-click="star3(event.detail.id)" class="star">
                        </div>
        
        <div ng-class="(hasComments(event)) ? 'detalhe-texto' : 'hide'">
            <p class="title-evento-extras">Comentários</p>
            <hr class="separator"/>
            <div ng-repeat="coment in event.detail.comentarios">
                <div class="user-comment" ng-bind-html="printComment(coment)"></div>
                <hr class="separator"/>
            </div>
        </div>
        <div ng-class="(event.detail.comentario==1) ? 'detalhe-texto' : 'hide'">
            <p class="title-evento-extras">Deixe o seu comentário</p>
            <input type="text" name="detalhe-nome-val" id="detalhe-nome-val" value="" placeholder="Nome" style="width:100%;">
            <textarea name="detalhe-comentario-val" id="detalhe-comentario-val" style="width:100%;height:100px;" placeholder="Comentário"></textarea>
            <button ng-click="sendComment(event.detail.id)" ng-style="main.styleBgColor" class="bt-send-comment">Enviar Comentário</button>
        </div>
    </div>
</div>
<div class="pub" ng-show="event.pub.img">
    <a ng-click="pubOpenUrl(event.pub.url)">
        <img src="" mm-load-img="event.pub.img" alt=""/>
    </a>
</div>