<menu></menu>
<div id="top" class="topcoat-navigation-bar" ng-style="main.styleBgColor">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="icon" href="" ng-click="main.menuVisible = ! main.menuVisible">
            <span class="icon-menu"></span>
            <span ng-show="main.badges>0" class="badges">{{ main.badges }}</span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Eventos em Destaque</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="icon" href="" ng-click="go('/search')">
            <span class="icon-search"></span>
        </a>
    </div>
</div>
<div class="topcoat-list list-featured scroller" height-geral="hasPub">
    <div ng-repeat="row in events.featured">
        <h3 class="topcoat-list__header" ng-style="main.styleBgColor">{{ row.data }}</h3>
        <ul class="topcoat-list__container">
            <li class="topcoat-list__item" ng-repeat="item in row.items">
                <a href="" ng-click="go('event/{{ item.id }}')">
                    <img src="img/slideshow_default.png" alt="" mm-load-img="item.slideshow_img"/>

                    <div class="overlay">
                        <div class="overlay-container">
                            <p class="title">{{ item._nome }}</p>

                            <p class="dsc">{{ item.data_inicio_formated }}</p>
                            <span class="icon icon-arrow_small_right"></span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<pub></pub>