<div class="page insertCode" ng-controller="InsertCodeCtrl as insertcode">
    <div class="center header">
        <h1>Introduza o seu código</h1>
        <div class="circlesContainer">
            <div class="circles"
                 ng-class="{ active: insertcode.numbers.length > 0, animated:insertcode.shake, shake:insertcode.shake }"></div>
            <div class="circles"
                 ng-class="{ active: insertcode.numbers.length > 1, animated:insertcode.shake, shake:insertcode.shake }"></div>
            <div class="circles"
                 ng-class="{ active: insertcode.numbers.length > 2, animated:insertcode.shake, shake:insertcode.shake }"></div>
            <div class="circles"
                 ng-class="{ active: insertcode.numbers.length > 3, animated:insertcode.shake, shake:insertcode.shake }"></div>
            <div class="clean" ng-show="!insertcode.loader" ng-click="insertcode.clean()">Limpar</div>
            <div class="loader" ng-show="insertcode.loader"></div>
        </div>
    </div>
    <div class="logobg"></div>
    <div class="padnumber">
        <button ng-disabled="insertcode.disabled" class="topcoat-button" ng-click="insertcode.number(1)">1</button>
        <button ng-disabled="insertcode.disabled" class="topcoat-button" ng-click="insertcode.number(2)">2</button>
        <button ng-disabled="insertcode.disabled" class="topcoat-button" ng-click="insertcode.number(3)">3</button>
        <button ng-disabled="insertcode.disabled" class="topcoat-button" ng-click="insertcode.number(4)">4</button>
        <button ng-disabled="insertcode.disabled" class="topcoat-button" ng-click="insertcode.number(5)">5</button>
        <br/>
        <button ng-disabled="insertcode.disabled" class="topcoat-button" ng-click="insertcode.number(6)">6</button>
        <button ng-disabled="insertcode.disabled" class="topcoat-button" ng-click="insertcode.number(7)">7</button>
        <button ng-disabled="insertcode.disabled" class="topcoat-button" ng-click="insertcode.number(8)">8</button>
        <button ng-disabled="insertcode.disabled" class="topcoat-button" ng-click="insertcode.number(9)">9</button>
        <button ng-disabled="insertcode.disabled" class="topcoat-button" ng-click="insertcode.number(0)">0</button>
    </div>
</div>
