<div class="topcoat-navigation-bar" ng-style="main.styleBgColor">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="seta-back icon" href="" ng-click="back()">
            <span class="icon-arrow_left"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Mapa</h1>
    </div>
</div>


<div class="mapadesc">
    <p>{{ event.map.local }}<br>
        {{ event.map.morada }}<br>
        GPS: {{ event.map.gps }}
    </p>
</div>
<gmap lat="{{ event.map.latitude }}" lng="{{ event.map.longitude }}"></gmap>