<div class="menu ng-cloak" ng-show="main.menuVisible" ng-controller="MenuCtrl as menu" ng-click="menu.click($event)">
    <div class="hide menu-top-bar topcoat-navigation-bar" ng-style="main.styleBgColor"></div>
    <div class="menu-container topcoat-list__container">
        <div id="menu-top" class="topcoat-navigation-bar" ng-style="main.styleBgColor">
            <div class="topcoat-navigation-bar__item full center">
                <img width="80" mm-load-img="main.logo" alt="" style="margin-top: 15px;"/>
            </div>
        </div>

        <div id="wrapper-menu" height-menu="main.menuVisible">
            <ul class="topcoat-list">
                <li class="topcoat-list__item" ng-style="menu.isSelectedLi('/notifications')">
                    <a ng-click="go('/notifications'); menu.doSelected($event);">Notificações
                        <span class="chevron icon-arrow_small_right" ng-style="menu.isSelectedSpan('/notifications')"></span>
                        <span ng-show="main.badges>0" class="badges">{{ main.badges }}</span>
                    </a>
                </li>
                <li class="topcoat-list__item" ng-style="menu.isSelectedLi('/dashboard')">
                    <a ng-click="go('/dashboard'); menu.doSelected($event);">Visualização Geral
                        <span class="chevron icon-arrow_small_right"
                              ng-style="menu.isSelectedSpan('/dashboard')"></span>
                    </a>
                </li>
                <li class="topcoat-list__item" ng-style="menu.isSelectedLi('/featured')">
                    <a ng-click="go('/featured')">Eventos em Destaque
                        <span class="chevron icon-arrow_small_right" ng-style="menu.isSelectedSpan('/featured')"></span>
                    </a>
                </li>
                <li class="topcoat-list__item" ng-style="menu.isSelectedLi('/month')">
                    <a ng-click="go('/month')">Eventos do mês
                        <span class="chevron icon-arrow_small_right" ng-style="menu.isSelectedSpan('/month')"></span>
                    </a>
                </li>
                <li class="topcoat-list__item" ng-style="menu.isSelectedLi('/search')">
                    <a ng-click="go('/search')">Pesquisa Eventos
                        <span class="chevron icon-arrow_small_right" ng-style="menu.isSelectedSpan('/search')"></span>
                    </a>
                </li>
                <li class="topcoat-list__item" ng-style="menu.styleBorderColor">
                    <a>Listar por Categoria</a>
                </li>
                <li class="topcoat-list__item child" ng-style="menu.isSelectedLi('/categorys')">
                    <a ng-click="go('/categorys')">Todas Categorias
                        <span class="chevron icon-arrow_small_right"
                              ng-style="menu.isSelectedSpan('/categorys')"></span>
                    </a>
                </li>

                <li class="topcoat-list__item child" ng-repeat="item in items"
                    ng-style="menu.isSelectedLi('/categorys/{{ item.id }}')">
                    <a ng-click="go('/categorys/{{ item.id }}')">{{ item.nome }}
                        <span class="chevron icon-arrow_small_right"
                              ng-style="menu.isSelectedSpan('/categorys/{{ item.id }}')"></span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>