<menu></menu>
<div class="topcoat-navigation-bar" ng-style="main.styleBgColor">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="icon" href="" ng-click="main.menuVisible = ! main.menuVisible">
            <span class="icon-menu"></span>
            <span ng-show="main.badges>0" class="badges">{{ main.badges }}</span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Notificações</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter notification-loader">
        <div class="loader" ng-show="isLoading"></div>
    </div>
</div>
<div class="topcoat-list list notifications scroller" height-geral="hasPub">
    <div class="center no-results" ng-show="!data.notifications.length">De momento não existem notificações.</div>
    <ul class="topcoat-list__container">
        <li class="topcoat-list__item" ng-repeat="item in data.notifications track by item.c">
            <a href="" ng-click="go('event/{{ item.id }}')" ng-style="getStyleBg(item.read)">
                <img src="img/listagem_default.png" alt="" mm-load-img="item.img"/>

                <span class="formnow">{{ item.formnow }}</span>
                <p class="title" ng-style="titlewidth">{{ item._nome }}</p>
                <p class="data">{{ item.data_inicio_formated }}</p>

                <span class="icon icon-arrow_small_right" ng-style="main.styleColor"></span>
                <span class="icon icon-new" ng-style="main.styleColor" ng-if="item.type==1"></span>
                <span class="icon icon-update" ng-style="main.styleColor" ng-if ="item.type==2"></span>
            </a>
        </li>
    </ul>
</div>
<pub></pub>