<menu></menu>
<div class="topcoat-navigation-bar" ng-style="main.styleBgColor">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="icon" href="" ng-click="main.menuVisible = ! main.menuVisible">
            <span class="icon-menu"></span>
            <span ng-show="main.badges>0" class="badges">{{ main.badges }}</span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Pesquisa</h1>
    </div>
</div>

<div class="search-container">
    <div class="spacer-blank"></div>
    <input ng-focus="events.pubShow = !events.pubShow" ng-blur="events.pubShow = !events.pubShow" type="text" value="" name="q" ng-model="q" class="input-search" placeholder="Pesquisar Evento"/>
    <div class="icon-search"></div>
</div>

<div class="topcoat-list list scroller" height-search="events.pubShow">
    <div ng-repeat="row in events.search | filter:search">
        <h3 class="topcoat-list__header" ng-style="main.styleBgColor">{{ row.data }}</h3>
        <ul class="topcoat-list__container">
            <li class="topcoat-list__item" ng-repeat="item in row.items | filter:search">
                <a href="" ng-click="go('event/{{ item.id }}')">
                    <img src="img/listagem_default.png" alt="" mm-load-img="item.img" />
                    <p class="title">{{ item._nome }}</p>
                    <p class="data">{{ item.data_inicio_formated }}</p>
                    <span class="icon icon-arrow_small_right" ng-style="main.styleColor"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<pub ng-show="events.pubShow"></pub>