html { font-size: 62.5%; width: 100%; height: 100%; }

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #000;
    font: 1.6rem "Roboto", helvetica, arial, sans-serif;
    font-weight: 400;
    position: relative;
}

h1{
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

/* page */
.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
/* end page */

/* init */
.insertCode .logobg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: url('../img/logo.png') no-repeat 50% 46%;
    z-index: 1;
}

.page.logobg{
    background: url('../img/logo.png') no-repeat 50% 50%;
}
/* end init */

/* insert Code */
.insertCode .header{
    background: #2682a7;
    padding: 10px 0 10px;
    position: relative;
    z-index: 3;
}

.insertCode h1{
    padding: 2.0rem 0;
}

.circlesContainer{
    position: relative;
}

.circlesContainer .topcoat-button{
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    box-shadow: none;
    font-size: 1.2rem;
    color: #fff;
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border-radius: 50% 50%;
    width: 2.5rem;
    height: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
}

.circles{
    width: 2.5rem;
    height: 2.5rem;
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border-radius: 50% 50%;
    background-color: #fff;
    display: inline-block;
    margin: 0 .2rem;

    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.circles.active{
    background-color: #a5d1e3;
}

.padnumber{
    width: 100%;
    padding: .8rem 0;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 0;
    text-align: center;
    background: #f6f6f6;
}

.padnumber .topcoat-button{
    width: 4.6rem;
    height: 4.6rem;
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border-radius: 50% 50%;
    background-color: rgba(165,209,227,.2);
    border: solid 2px #99d1e8;
    display: inline-block;
    margin: .5rem;
    font-family: "RobotoBold", helvetica, arial, sans-serif;
    font-size: 3.0rem;
    text-shadow: none;
    color: #2682a7;
    box-shadow: none;

    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.padnumber .topcoat-button.ng-click-active{
    background-color: rgba(165,209,227,.8);
}

.insertCode .clean{
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 50%;
    margin-left: 73px;
    color: #ffffff;
    z-index: 2;
}

.insertCode .logo{
    margin-top: 10px;
}

.insertCode .logo img{
    width: 200px;
}

.insertCode .full{
    position: relative;
    z-index: 3;
}

.circlesContainer .loader{
    position: absolute;
    margin-left: .5rem;
}
/* end insert Code */

/* dashboard */

.spacer-blank{
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.topcoat-navigation-bar,
.topcoat-navigation-bar__item {
    box-shadow: none;
    color: #ffffff;
    height: 4.0rem;
    line-height: 4.0rem;
    vertical-align: middle;
}

.ios7 .topcoat-navigation-bar,
.ios7 .topcoat-navigation-bar__item{
    height: 6.0rem;
    line-height: 6.0rem;
}

.navigation-logo.topcoat-navigation-bar,
.navigation-logo.topcoat-navigation-bar .topcoat-navigation-bar__item{
    height: 6.5rem;
    line-height: 6.5rem;
}

.topcoat-navigation-bar__title {
    color: #ffffff;
    font-size: 1.6rem;
}

.ios7 .topcoat-navigation-bar__title{
    margin-top: 8px;
}

.left .icon,
.right .icon{
    position: absolute;
    padding: 5px;
    /*top: 20px;*/
}

.right .icon.notification{
    right: 52px;
}

.right .icon.iconTop{
    right: 48px;
}

.ios7 .left .icon,
.ios7 .right .icon{
    top: 20px;
}

.left .icon{
    left: 10px;
    line-height: 25px;
}

.right .icon{
    right: 18px;
    line-height: 25px;
}

.icon .icon-search,
.icon .icon-menu,
.icon .icon-notification{
    color: #FFFFFF;
    font-size: 25px;
}

.badges{
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    color: #ffffff;
    background: #ed6d6e;
    display: block;
    text-align: center;
    position: absolute;
    top: -2px;
    right: -2px;
}

.topcoat-list__item .badges{
    top: 2px;
    right: 30px;
    left: auto;
}
/* end dashboard */

/* menu */
.overlaymenu{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.4);
}

.menu{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.menu .topcoat-list__item.child.ng-scope{
    padding: 1.25rem;
    padding-left: 40px;
}

.menu-container{
    max-width: 80%;
    max-height: 100%;
    z-index: 3;
    position: relative;
}

.topcoat-list__container{
    border: none;
}

.menu .topcoat-list__item:first-child{
    border-top: 1px solid;
}

.menu .topcoat-list__item{
    color: #000;
    border-top: none;
    border-bottom: 1px solid;

    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 22%, #c5c6c6 80%, #babcbc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(22%,#f4f4f4), color-stop(80%,#c5c6c6), color-stop(100%,#babcbc));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 22%,#c5c6c6 80%,#babcbc 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 22%,#c5c6c6 80%,#babcbc 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 22%,#c5c6c6 80%,#babcbc 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 22%,#c5c6c6 80%,#babcbc 100%);


    -webkit-transition: all 350ms;
    transition: all 350ms;
}

.menu .topcoat-navigation-bar,
.menu .topcoat-navigation-bar__item{
    height: 7rem;
    line-height: 7rem;
}

.menu .menu-top-bar.topcoat-navigation-bar{
    height: 2.0rem;
    line-height: 2.0rem;
    z-index: 3;
    position: relative;
}

.menu a{
    display: block;
    position: relative;
}

.menu .chevron{
    position: absolute;
    top: -2px;
    right: 0;
    font-size: 25px;
    line-height: 25px;
}

.menu .child{
    padding-left: 40px;
}

#wrapper-menu{
    overflow: hidden;
}
/* end menu */

/* list */
.topcoat-list{
    border: none;
}

.list-featured .topcoat-list__header,
.list .topcoat-list__header{
    background-color: transparent;
    color: #ffffff;
    text-shadow: none;
    border-top: 1px solid rgba(255,255,255,1);
    font-size: 1.2rem;
}

.list .topcoat-list__item{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    position: relative;

}

.list .topcoat-list__item .icon{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 25px;
    line-height: 25px;
    margin-top: -12.5px;
}

.list .topcoat-list__item .icon.icon-new,
.list .topcoat-list__item .icon.icon-update{
    bottom: 5px;
    margin-top: 0;
    top:auto;
    font-size: 15px;
    line-height: 15px;
    right: 15px;
}

.list .topcoat-list__item .icon.icon-new{
    font-size: 10px;
    line-height: 10px;
    right: 20px;
}

.list .topcoat-list__item:first-child{
    border-top: none;
}

.list a{
    display: block;
    position: relative;
    height: 90px;
}

.list img{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 89px;
}

.list p{
    position: absolute;
    left: 110px;
    margin: 0;
    width: 50%;
}

.list.notifications p.title{
    line-height: 16px;
}

.list .title{
    top: 5px;
    font-size: 1.4rem;
    color: #000;
}

.list .formnow{
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: right;
    color: #535353;
    font-size: 1.1rem;
}

.list .dsc{
    top: 25px;
    font-size: 1.2rem;
    color: #535353;
}

.list .data{
    bottom: 5px;
    font-size: 1.2rem;
    color: #979797;
}

.list .data span{
    display: inline-block;
    margin-right: 20px;
}
/* end list */

/* search */
.search-container{
    width: 100%;
    background: #ffffff;
    z-index: 2;
    position: relative;
}

.search-container .icon-search{
    position: absolute;
    left: 15px;
    top: 50%;
    font-size: 25px;
    line-height: 25px;
    color: #606366;
    margin-top: -12px;
}

input.input-search{
    width: 100%;
    border: none;
    padding: 20px 30px 20px 50px;
    font-size: 1.5rem;
    color: #606366;
    font-family: "RobotoLight", helvetica, arial, sans-serif;
    box-shadow: 0 1px 2px rgba(0,0,0,.12);
}



/* end search */

/* detalhe */

.topcoat-navigation-bar.datahora{
    height: 2.0rem;
}

.topcoat-navigation-bar.datahora .topcoat-navigation-bar__item
{
    line-height: 1.2rem;
    font-size: 1.2rem;
    margin-top: 4px;
}

.detalhe .img-detalhe
{
    line-height:0px;
    margin-bottom:1px;
}

.detalhe ul.opcoes
{
    width:100%;
    list-style-type: none;
    display:inline-block;
    margin:0px;
    padding:0px;
}

.detalhe ul.opcoes li
{
    width:33%;
    margin:0px 0px 0px 0px;
    border-left:1px solid #FFF;
    float:left;
    font-size:8px;
    padding:0px;
    text-align: center;
    position: relative;
}

.detalhe ul.opcoes li span
{
    color: #FFFFFF;
    line-height: 25px;
    font-size: 25px;
    padding: 5px;
    display: block;
}

.detalhe ul.opcoes li p.imagetext
{
    width:100%;
    text-align:center;
    color:#FFFFFF;
    margin-bottom: 5px;
    margin-top: 0px;
    line-height: 12px;
}

.detalhe ul.opcoes li p svg
{
    fill:#FFFFFF;
}

.detalhe .titulo p
{
    font-size:16px;
    color:#FFFFFF;
    text-align:center;
    margin:0px;
    padding-top: 0px;
    line-height: 30px;
}


.seta-back{
    padding: 5px;
    font-size: 25px;
    line-height: 25px;
    color: #FFFFFF;
}


.detalhe .titulo
{
    width:100%;
}

.detalhe .setas-right a
{
    padding: 5px;
    font-size: 25px;
    line-height: 25px;
    color: #FFFFFF;
}

.detalhe .detalhe-title
{
    padding: 10px 10px 0;
    line-height: 18px;
    display:block;
    margin:0px;
    /*font-family: Arial, sans-serif;*/
    font-weight: bold;
    font-size: 1.6rem;
}

.detalhe .detalhe-texto,
.detalhe .detalhe-texto2
{
    margin: 0px 10px 0px 10px;
    line-height: 14px;
    /*font-family: Arial, sans-serif;*/
    line-height: 2rem;
    font-size: 1.4rem;
    text-align: justify;
    color: #444444;
}

.detalhe .detalhe-texto2
{
    margin: 0px 10px 0px 10px;
    line-height: 14px;
    /*font-family: Arial, sans-serif;*/
    line-height: 2rem;
    font-size: 1.4rem;
    text-align: justify;
    color: #444444;
}
.detalhe .detalhe-texto2 img
{
    width:100%;
}

.pub{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.pub a{
    display: block;
}
.pub img
{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    display: block;
}

.mapadesc{
	position: absolute;
	left: 0px;
	top: 40px;
	z-index: 10000;
	width: 100%;
	text-align: center;
}

.ios7 .mapadesc{
    top: 60px;
}

.mapadesc p
{
    background-color: #CCCCCC;
    line-height: 14px;
    margin: 0;
    font-size:12px;
    padding: 6px 0px 6px 0px;
    text-align: center;
    width: 100%;
}

.gmap{
    position:fixed !important;
    position:absolute;
    top:94px;
    right:0;
    bottom:0;
    left:0;
}

.ios7 .gmap{
    top:114px;
}
/* end detalhe */

/* loading */
.page.loading img{
    width: 278px;
    height: 163px;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0;
    right: 0;
    margin-top: -81px;
    margin-left: -139px;
    border: none;
}
/* end loading */

/* animations */
.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    -ms-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition:  .25s ease-in-out;

    /*-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;*/

}

.slide-left.ng-enter {
    z-index: 101;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-left.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave {
    z-index: 100;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter {
    z-index: 100;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave {
    z-index: 101;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.page-opacity.ng-enter,
.page-opacity.ng-leave{
    background: inherit;
    -ms-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition:  .25s ease-in-out;
}

.page-opacity.ng-enter {
    z-index: 100;
    opacity: 0;
}

.page-opacity.ng-enter.ng-enter-active {
    opacity: 1;
}

.page-opacity.ng-leave {
    z-index: 101;
    opacity: 1;
}

.page-opacity.ng-leave.ng-leave-active {
    opacity: 0;
}

/*.slide-top.ng-leave {
    z-index: 100;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.slide-top.ng-leave.ng-leave-active {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}*/

/* end animations */

/* menu animations */

/*.menu{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}*/

li.ng-click-active,
a.ng-click-active{
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: 250ms ease-in-out;

    opacity: 0.5;
}

.animate-menu{

    /*-webkit-transition: .25s ease-in-out;
    transition:  .25s ease-in-out;*/

    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: 250ms ease-in-out;

    z-index: 3;
}

.ios6 .animate-menu,
.android .animate-menu{
    -webkit-transition: none;
    transition: none;
}

.animate-menu.ng-hide-add,
.animate-menu.ng-hide-remove {
    /* remember to add this */
    display:block!important;

    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

}

.animate-menu.ng-hide {

    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);

}

.animate-overlaymenu{

    -ms-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition:  .25s ease-in-out;

    z-index: 2;
}

.animate-overlaymenu.ng-hide-add,
.animate-overlaymenu.ng-hide-remove {

    display:block!important;

    opacity: 1;
}

.animate-overlaymenu.ng-hide {
    opacity: 0;
}


/* end menu animations */

/* other animations */
.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(5px);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}
/* end other animations */

/* loaders */
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.loader {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #0cf;
    border-radius: 50%;
    border-top-width: 0;

    animation: spin 0.75s infinite linear;
    -webkit-animation: spin 0.75s infinite linear;

}

.loader::before,
.loader::after {
    left: -2px;
    top: -2px;
    display: none;
    position: absolute;
    content: '';
    width: inherit;
    height: inherit;
    border: inherit;
    border-radius: inherit;
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.notification-loader{
    position: relative;
}

.notification-loader .loader{
    position: absolute;
    top: 6px;
    right: 22px;
}

.ios7 .notification-loader .loader{
    top: 22px;
    right: 22px;
}
/* end loaders */


/* debug */
.debug{
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 5px;
    color: #454545;
    bottom: 0;
    background-color: #cf867e;
}
/* end debug */

/* tools */

.topcoat-list{
    background: #ffffff;
}

.middle {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.bottom50{
    top: auto;
    bottom: 5.0rem;
    z-index: 10;
}

.hide{display: none;}

.ng-scope{
    margin: 0;
    padding: 0;
}

.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;

}

a{text-decoration: none;}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
/* end tools */


/* carousel */

/* list-featured */

.list-featured .topcoat-list__item .icon{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 25px;
    line-height: 25px;
    margin-top: -12.5px;
    z-index: 2;
    color: #FFFFFF;
}

.list-featured .topcoat-list__item{
    padding: 0;
    border: none;
}

.list-featured a{
    display: block;
    position: relative;
}


.list-featured .overlay-container{
    position: relative;
    width: 100%;
    height: 100%;
}


/* end list-featured */

.rn-carousel-container {
    overflow: hidden;
}

ul.rn-carousel-slides {
    position: relative;
    white-space: nowrap;
    overflow: visible;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 0;
    margin: 0
}

ul.rn-carousel-slides > li {
    white-space: normal;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*margin-right: -4px;*/
    position: relative;
}

.swipe-wrap > div > img,
.list-featured a img,
ul.rn-carousel-slides > li > img {
    width: 100%;
    display: block;
}

.rn-carousel-animate {
    -webkit-transition: -webkit-transform .1s ease-out;
    -moz-transition: -moz-transform .1s ease-out;
    transition: transform .1s ease-out
}

.rn-carousel-noanimate {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none
}

.rn-carousel-indicator {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    height: 5px;
}

.rn-carousel-indicator span {
    -webkit-transition: .25s ease-in-out;
    transition:  .25s ease-in-out;
    position: absolute;
    background-color: rgb(0, 51, 153);
    top: 0;
    left: 0;
    height: 5px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.swipe-wrap > div > a,
.list-featured .overlay,
ul.rn-carousel-slides > li > a{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    height: 50px;
    width: 100%;
    background-color: rgba(40,40,40,.8);
    z-index: 1;
}

.swipe-wrap .icon,
ul.rn-carousel-slides .icon{
    font-size: 25px;
    color: #FFFFFF;
    position: absolute;
    bottom: 8px;
    right: 10px;
}

.swipe-wrap p,
.list-featured .overlay p,
ul.rn-carousel-slides p{
    margin: 0;
}

.swipe-wrap .data,
.list-featured .data,
ul.rn-carousel-slides .data {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 1px 1px 1px #070c0b;
}

.swipe-wrap .title,
.list-featured .title,
ul.rn-carousel-slides .title {
    font-size: 1.4rem;
    width: 90%;
    color: #fff;
}

.swipe-wrap .dsc,
.list-featured .overlay .dsc,
ul.rn-carousel-slides .dsc{
    font-size: 1.2rem;
    color: #a3a3a3;
    width: 95%;
}
/* end carousel */

/* icons */
[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-arrow_down:before,
.icon-arrow_left:before,
.icon-arrow_small_right:before,
.icon-arrow_top:before,
.icon-calendar:before,
.icon-email:before,
.icon-marker:before,
.icon-menu:before,
.icon-new:before,
.icon-notification:before,
.icon-search:before,
.icon-update:before {
    font-family: "fonticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
}

.icon-arrow_down:before { content: "\f100"; }
.icon-arrow_left:before { content: "\f101"; }
.icon-arrow_small_right:before { content: "\f102"; }
.icon-arrow_top:before { content: "\f103"; }
.icon-calendar:before { content: "\f104"; }
.icon-email:before { content: "\f105"; }
.icon-marker:before { content: "\f106"; }
.icon-menu:before { content: "\f107"; }
.icon-new:before { content: "\f108"; }
.icon-notification:before { content: "\f109"; }
.icon-search:before { content: "\f10a"; }
.icon-update:before { content: "\f10b"; }


/* end icons */

.no-results{
    padding: 10px;
}

/**/

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swipe-indicator{
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    height: 5px;
}

.swipe-indicator span {
    -webkit-transition: .25s ease-in-out;
    transition:  .25s ease-in-out;
    position: absolute;
    background-color: rgb(0, 51, 153);
    top: 0;
    left: 0;
    height: 5px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.loader.loader-addevent{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid #0cf;
    border-radius: 50%;
    border-top-width: 0;
    display: none;
}

.noconnection h1{
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #444444;
}

.noconnection a{
    width: 60%;
    position: absolute;
    bottom: 5%;
    background: #2682a7;
    text-align: center;
    left: 50%;
    margin-left: -30%;
    padding: 15px;
    display: block;
    color: #ffffff;
}

.noconnection a.ng-click-active{

    -webkit-transition: .25s ease-in-out;
    transition:  .25s ease-in-out;

    background: #ffffff;
    color: #2682a7;
}

.checked_vote
{
    background: url('../img/check.png') no-repeat;
    width:32px;
    height:32px;
    border: 0px;
}
.unchecked_vote
{
    background: url('../img/uncheck.png') no-repeat;
    width:32px;
    height:32px;
    border: 0px;
}

.star
{
    width: 30px;    
}

.title-evento-extras
{
    font-weight:bold;
    margin-bottom:0px;
}
.bt-send-comment
{
    width:100%;
    text-align:center;
    color:#FFFFFF;
    margin-bottom: 5px;
    margin-top: 0px;
    height:32px;
    border: 0px;
}

span.icon-email{
    padding-top:10px !important;
    padding-bottom:0px !important;
}

hr.separator
{
    margin:0px;
    padding:0px;
    border:0px;
    height:1px;
    margin-left:-10px;
    margin-right:-10px;
    display:block;
    background-color:#DDD;
}
div.user-comment
{
    margin:0px;
    padding-top:5px;
    line-height:13px;
    padding-bottom:10px;
    color: #979797;
    padding-left:5px;
    padding-right:5px;
}
p.user_nome
{
    padding-bottom:5px;
    margin:0px;
    color: #666;
    font-size:12px;
}
p.user_comentario
{
    padding:0px;
    margin:0px;
    font-size:10px;
}